/*Put global styles here*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//.QQQ{
//  background: #4cae4c;
//}

//.QQQ-enter-done {
//  background: #4cae4c !important;
//}
.QQQ-enter-active {
  background: #00f8d5 !important;
}

.QQQ-exit-active {
  background: #b204ec !important;
}
