.message_section_container {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.message_section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  background: #fcfdfe;
  overflow-wrap: break-word;
}

.message_section_text {
  margin: 0.5rem 0;
}

.message_section_iframe {
  height: 60rem;
  width: 100%;
  border: none;
}

.main_section{
  position: relative;
}
